<section class="section">
  <div class="container">
    <div class="box content">

      <p class="title is-5">Stream Chat</p>

      <div class="chat-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let chat of chats" class="chat">
          <p>
            <span class="has-text-weight-bold ">{{ chat.username }}: </span>
            {{ chat.text }}
          </p>
        </div>
      </div>

      <form [formGroup]="chatForm" novalidate>
        <div class="chat-input">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input formControlName="text"
                  class="input"
                  placeholder="Send a message"
                  #text>
            </div>
            <div class="control">
              <button class="button is-primary"
                  (click)="addChat(text.value)">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>