<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="home" class="navbar-item">
      <img src="assets/img/StreamViewer.png" width="224">
    </a>
  </div>

  <div id="streamViewerNav" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div [hidden]="!isLogged()">
          Welcome, <span class="has-text-weight-bold">{{ getName() }}</span>
          <button id="sign-out-btn"
              class="button is-primary is-small is-outlined"
              onClick="signOut()"
              (click)="signOutApp()">
            Sign Out
          </button>
        </div>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" [hidden]="isLogged()"></div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>