<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="home" class="navbar-item">
      <img src="assets/img/StreamViewer.png" width="224">
    </a>
  </div>

  <div id="streamViewerNav" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>